{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
<title>eHealth Corp - All Doctors</title>

{% endblock %}
{% block body %}
<div class="wrapper" style="width:100%; max-width: 1250px; margin: 0 auto; margin-top: 160px;">
<h1>Meet Our Team</h1>
<style>
    form input{
        width: 30%;
        padding: 12px 20px;
        margin: 8px 0;
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    form label{
        display: none;
    }
</style>
<form action="/doctors" method="POST">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.name) }}
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
      <h3 class=flashes style="color:rgb(216, 35, 35);">
        {% for message in messages %}
          {{ message | safe }}
        {% endfor %}
      </h3>
    {% endif %}
  {% endwith %}
<div class="doctors" style="width:100%; height: auto; display:grid; grid-template-columns: 1fr 1fr 1fr; grid-gap: 100px 0px; margin-top: 30px;">
<style>
    .doc{
        height:250px;
        width:250px;
        background-color:blue;
        margin: 0 auto;
    }

    @media screen and (max-width: 800px) {
        .wrapper{
            width:80% !important;
        }

        .doctors{
            grid-template-columns: 1fr !important;
        }

        .doc{
            width: 70%;
        }
    }
        
</style>
{% for doc in doctors %}
     <div class="doc" style="display:flex; justify-content:center; align-items:center; background-image: url({{url_for('static', filename='img/doctors/1.jpg')}}); object-fit: fill;background-size: contain;"> 
        <p style="display: inline-block;align-self: flex-end;background-color:#26c6da; padding: 8px 20px; border-radius: 5px; color:#fff; font-weight: 700;">{{doc}}</p>
    </div>
{% endfor %}
</div>
</div>
{% endblock %}