<h1>teste</h1>
<div class="content" style="display:grid; grid-template-columns: 1fr 1fr; grid-gap: 10px;">
    <table style="border: 2px solid black;">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Code</th>
        </tr>
        {% for ticket in tickets %}
        <tr>
            <td>{{ticket.id}}</td>
            <td>{{ticket.name}}</td>
            <td> {{ ticket.email    }}</td>
            <td> {{ ticket.message    }}</td>
            <td> {{ ticket.code }}</td>
        </tr>
        {% endfor %}
    </table>

    <table style="border: 2px solid black;" >
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Gender</th>
            <th>Full Name</th>
            <th>Doctor?</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td> {{ user.email }}</td>
            <td> {{ user.password }}</td>
            <td> {{ user.gender }}</td>
            <td> {{ user.full_name }}</td>
            <td> {{ user.admin }}</td>

        </tr>
        {% endfor %}
    </table>